@model List<Vd2022.Models.Customer>
@{
    ViewBag.Title = "Customers";
}
<div style="display: flex; justify-content: space-between; margin: 10px auto; align-items: center ">
    <h2 class="display-1"> Customers</h2>

</div>
@Html.ActionLink("Add A Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
<table id="customers" class=" table table-hover table-bordered">
    <thead>
        <tr>
            <th> Nom </th>
            <th>Discount Rate</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                </td>
                <td>
                    @customer.MemberShipType.DiscountRate %
                </td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        /*$(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                if (confirm("Are you sure you want to delete ?")) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("Success")
                        }
                        });
                     }
                });
        });*/

        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent("tr").remove();
                                location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
}


